PORT=5000
API_PREFIX=api/v1
DATABASE_URL="postgresql://neondb_owner:npg_8hyNzX2PlTmv@ep-green-base-axd0nxq8.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:5173,https://ardhimart.com,https://www.ardhimart.com,https://adm1n.ardhimart.com"
JWT_SECRET="4f2d418ea57bf7c2acb2a21d05121c1b2b157a829f8a1855ced1d6f3b6d99d4e"
JWT_EXPIRES_IN="7d"
